{% block footer %}
<footer>
    <img class="footerLogo" src="files/utsc_logo.jpg"/>
    <div class="footerLinks">
        <p>IMPORTANT LINKS</p>
        <a href="https://www.utsc.utoronto.ca/cms/computer-science" class="footerLink">UTSC Computer Science Faculty</a>
        <a href="https://jobs.utoronto.ca" class="footerLink">Careers @UofT</a>
        <p>Site designed by Daniel Weihs Sarabia, Lucas Soliman, and Tahira Tasneem</p>
    </div>
    <a class="DarkmodeButton" href="dark/assignments.html" style="text-align: center;"> Turn <b>ON</b><br> Dark Mode</a>
</footer>
{% endblock %}