{% extends ".template.html" %}
{% block content %}
    <h2>Overview</h2>
    <p>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. 
        All exercises and assignments will be submitted on 
        <span class="boldBlue"><a href="https://markus2.utsc.utoronto.ca/">MarkUs.</a></span>
    </p>
    <div class="line"></div>

    <h2>Assignments</h2>
    <div class='assignments-grid-container'>
        
        <div class="header-item"> <span class="boldBlue">Title</span></div>
        <div class="header-item"> <span class="boldBlue">Weight</span></div>
        <div class="header-item"> <span class="boldBlue">Due Dates</span></div>
        <div class="header-item"> <span class="boldBlue">Comments</span></div>

        <div class="header-line"></div>
        
        <div class="item5"><a href="assignment1.html">Assignment 1</a></div>
        <div class="item6">8%</div>
        <div class="item7">February 11 at 11:59pm</div>
        <div class="item8">Updated February 7</div>

        <div class="item9"><a href="assignment2.html">Assignment 2</a></div>
        <div class="item10">10%</div>
        <div class="item11">March 12 at 11:59pm</div>
        <div class="item12"></div>
        
        <div class="item13"><a href="assignment3.html">Assignment 3</a></div>
        <div class="item14">15%</div>
        <div class="item15">April 2 at 11:59pm</div>
        <div class="item16"></div>
        
    </div>
    <div class="line"></div>

    <h2>Assignment Policies</h2>
    <h3>Instructions for assignment submissions</h3>
    <ul>
        <li class="assign-list-item">There are three assignments. You may be asked to work in pairs on some of these
            assignments. Please check the assignment handout for more details on whether
            working in pairs is permitted or not; other details such as the exact due date will also
            be mentioned on the assignment handout. DO NOT EMAIL YOUR ASSIGNMENT
            SUBMISSIONS TO US. We will use MARKUS for the submission of all assignments. A
            STRICT silent policy takes effect 12 hours before an ASSIGNMENT is due.
            This means that the teaching staff will answer no questions about the assignment.
        </li>
        <li class="assign-list-item">We will follow the due dates mentioned in the course syllabus. However, if the due
            dates on the assignment handout differ from the schedule above, the
            <span class="underline">assignment handout's due dates will supersede.</span>
        </li>
    </ul>

    <h3>Extensions or penalties for late work</h3>
    <ul>
        <li class="assign-list-item">Submit your work on time. Your work will be penalized by 10% for each day of the late
            submission unless valid reason for the late submission is provided.
        </li>
        <li class="assign-list-item">Late submissions with 10% penalty for each day will be accepted until day 3 (72 hours)
            past the original submission deadline. 
            <strong><em>Later submissions will not be graded unless valid reason for the late submission is provided.</em></strong>
        </li>
    </ul>
    <h3>Remark Requests</h3>
    <ul>
        <li class="assign-list-item">If a piece of work has been mismarked or if you believe the rubric used to evaluate the
            work is not appropriate, you may request a remark. For a re-mark to succeed, you must
            clearly and concisely express what you believe was mis-marked or unfairly marked. To
            request a remark, set up an appointment with the instructor and the TA that has marked
            your assignment/exam.
        </li>
        <li class="assign-list-item">PLEASE DO NOT USE THE DISCUSSION BOARD REQUESTING FOR REMARKS.</li>
        <li class="assign-list-item">Be prepared for the entire work to be re-evaluated and for the mark to be adjusted up
            or down after the re-evaluation. Remark requests MUST be made 48 hours after the
            mark is made available. No remark request will be accepted after 48 hours.</li>
    </ul>
    <h3>Working with a Partner</h3>
    <ul>
        <li class="assign-list-item">For <em>some</em> of the assignments, you have the option of working in group of two or three
            and we encourage you to do so. Each group may contain up to a maximum of 3 people
            including yourself from your own section. You may choose your own partners and it
            does not need be the same person for each assignment. Once you begin working on
            an assignment, you may not dissolve your partnership without my permission. All team
            members will receive the same mark.
        </li>
        <li class="assign-list-item">Some assignments may require group of two while other assignments might require
            group of 3. 
            <span class="underline"> Details will be mentioned in each Assignment handout.</span>
        </li>
        <li class="assign-list-item">Working with a partner has the potential to lighten your workload or to increase it,
            depending on how well you work together. Remember that you are responsible for
            learning the course material underlying all parts of the assignments. You will have the
            most success if you truly work together.
        </li>
    </ul>
{% endblock content %}