{% extends ".template.html" %}
{% block content %}
    <h2>Overview</h2>
    <p>Here you will find all tutorials information and materials to reinforce key concepts through hands-on practice and guided exercises.</p>
    <div class="line"></div>

    <h2>Tutorial Sections</h2>
    <p>Please go the tutorial section that you signed up for on <a href="https://www.acorn.utoronto.ca/">ACORN</a> to find the location of your tutorial.</p>
    <div class="line"></div>

    <h2>Tutorial Materials</h2>
    <p>Tutorial worksheets and solutions will be linked once available.</p>
    <div class='labs-grid-container'>
        
        <div class="header-item"> <span class="boldBlue">Week</span></div>
        <div class="header-item"> <span class="boldBlue">Tutorial Worksheets</span></div>
        <div class="header-item"> <span class="boldBlue">Solutions</span></div>

        <div class="header-line"></div>
        
        <div class="item5">Week 0</div>
        <div class="item6">No Tutorial</div>
        <div class="item7">No tutorial</div>
        
        <div class="item8">Week 1</div>
        <div class="item9"><a href="files/Tutorials/Tutorial Week 1.pdf">Tutorial 1</a></div>
        <div class="item10"><a href="files/Tutorials/week01soln.py">Solution 1</a></div>
        
        <div class="item11">Week 2</div>
        <div class="item12"><a href="files/Tutorials/Tutorial Week 2-1.pdf">Tutorial 2</a></div>
        <div class="item13"><a href="files/Tutorials/week02soln-updated.pdf">Solution 2</a></div>
        
        <div class="item14">Week 3</div>
        <div class="item15"><a href="files/Tutorials/Tutorial 3-1.pdf">Tutorial 3</a></div>
        <div class="item16"><a href="files/Tutorials/week03soln.sql">Solution 3</a></div>

        <div class="item17">Week 4</div>
        <div class="item18"><a href="files/Tutorials/Tutorial 4-1.pdf">Tutorial 4</a></div>
        <div class="item19"><a href="files/Tutorials/week04soln-sql.sql">Solution 4 - SQL</a></div>
        
        <div class="item20">Week 5</div>
        <div class="item21"><a href="files/Tutorials/Tutorial 4-1.pdf">Same as Tutorial 4</a></div>
        <div class="item22"><a href="files/Tutorials/week04soln-html.html">Solution 4 - HTML</a></div>

        <div class="item23">Week 6</div>
        <div class="item24"><a href="files/Tutorials/Tutorial Week 6-1.pdf">Tutorial 6</a></div>
        <div class="item25">Solution 6 - <a href="files/Tutorials/index-1.html">HTML</a>, <a href="files/Tutorials/style.css">CSS</a></div>
        
        <div class="item26">Week 7</div>
        <div class="item27"><a href="files/Tutorials/Tutorial Week 6-1.pdf">Tutorial 7</a></div>
        <div class="unavailable">Not available</div>

        <div class="item29">Week 8</div>
        <div class="item30"><a href="files/Tutorials/Tutorial Week 8-1.pdf">Tutorial 8</a></div>
        <div class="unavailable">Not available</div>

        <div class="unavailable">Week 9</div>
        <div class="unavailable">Not available</a></div>
        <div class="unavailable">Not available</div>

        <div class="unavailable">Week 10</div>
        <div class="unavailable">Not available</div>
        <div class="unavailable">Not available</div>

        <div class="unavailable">Week 11</div>
        <div class="unavailable">Not available</div>
        <div class="unavailable">Not available</div>
        
    </div>
{% endblock content %}