{% extends ".template.html" %}
{% block content %}
    <h1>News</h1>
    <div class="line"></div>
    <h3>February 28</h3>
    <h4>Week 6 Recorded lectures</h4>
        <p><em>
        Since we weren't able to meet for lectures this week due to the midterm, I have recorded the lectures instead. You can find the recordings lectures
        Some of the topics in these lectures were already covered before reading week, while others are new. This should help you with Assignment 2 (A2).
        I recommend reviewing the recordings and ensuring you're comfortable with the concepts before working on A2. If you have any questions, feel free to ask on Piazza or come to office hours.
    </em>
    </p>
    <div class="line"></div>
    <h3>February 27</h3>
    <h4>Term Test Tomorrow February 28</h4>
        <p><em>
            As a reminder, our Term Test is scheduled for tomorrow at 9 AM (during class time).<br>
            <strong>Location: </strong>HL 170<br>
            <strong>Closed-Book Exam: </strong>No aids are allowed.
    </em>
    </p>
    <div class="line"></div>
    <h3>February 26</h3>
    <h4>Assignment 2 is out</h4>
        <p><em>
            Assignment 2 is out and is due on Wednesday March 12. This assignment is based on 
            <strong>HTML, CSS, Python Flask, Web Development </strong>.
    </em>
    </p>
    <div class="line"></div>
    <h3>February 14</h3>
    <h4>Term Test Date</h4>
        <p><em>
            The term test date for our class is February 28 from 9 to 11. The room allocation will be announced soon.
    </em>
    </p>
    <div class="line"></div>
    <h3>January 3</h3>
    <h4>Welcome to CSCB20 for Winter 2025!</h4>
        <p><em>
            My name is Purva Gawde, and I will be your instructor for this course. I am excited to begin this journey with you and look forward to a productive and engaging semester. 
            <br>All course details can be found on Quercus.
    </em>
    </p>
{% endblock content %}