{% extends ".template.html" %}
{% block content %}
    <h1>Team</h1>
    <div class="teamList">
        <div class="teamListItem">
            <img src="{{ url_for('static', filename='images/prof_pic.jpg') }}" style="max-height: 128px; max-width: 128px; width: auto; height: auto;"/>
            <div>
                <h2>Purva Gawde</h2>
                <p>Email: <a href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a></p>
                <p>Office: IA4056</p>
                <p>Role: Course Instructor</p>
            </div>
        </div>
        <div class="teamListItem">
            <img src="{{ url_for('static', filename='images/Face_Placeholder.png') }}" style="height: 128px; width: 128px;"/>
            <div>
                <h2>Naghmeh Safaie</h2>
                <p>LinkedIn: <a href="www.linkedin.com/in/naghmeh-safaie-3962b183">www.linkedin.com/in/naghmeh-safaie-3962b183</a></p>
                <p>Role: Teaching Assistant</p>
            </div>
        </div>
        <div class="teamListItem">
            <img src="{{ url_for('static', filename='images/Face_Placeholder.png') }}" style="height: 128px; width: 128px;"/>
            <div>
                <h2>Orhan Cangurel</h2>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/orhan-cangurel/">https://www.linkedin.com/in/orhan-cangurel/</a></p>
                <p>Role: Teaching Assistant</p>
            </div>
        </div>
        <div class="teamListItem">
            <img src="{{ url_for('static', filename='images/Face_Placeholder.png') }}" style="height: 128px; width: 128px;"/>
            <div>
                <h2>Vincent Zhang</h2>
                <p>Linkedin: <a href="https://www.linkedin.com/in/vincentzhang15/">https://www.linkedin.com/in/vincentzhang15/</a></p>
                <p>Role: Teaching Assistant</p>
            </div>
        </div>
        <div class="teamListItem">
            <img src="{{ url_for('static', filename='images/Face_Placeholder.png') }}" style="height: 128px; width: 128px;"/>
            <div>
                <h2>Kevin Zhang</h2>
                <p>Role: Teaching Assistant</p>
            </div>
        </div>
    </div>
{% endblock content %}