/* Using :root to create the default colours for light mode */
:root {
    --UofTBlue: #1E3765;
    --UofTLightBlue: #007FA3;
    --navbarLightBlue: #B2D8E3;
    --UofTGreen: #00A189;
    --background: white;
}

/* Default CSS for all pages */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    color: var(--UofTBlue);
}

h2 {
    color:var(--UofTBlue);
}

h3 {
    text-align: left;
    font-weight: bolder;
    color: var(--UofTLightBlue);
}

h4 {
    font-weight: bold;
    color: var(--UofTBlue);
    padding-bottom: 4px;
    margin-bottom: 0px;
}

p {
    font-size: 16px;
}

.boldBlue {
    font-weight: bold;
    color: var(--UofTLightBlue);
    padding-bottom: 4px;
}

a:hover {
    font-size: 18px;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Below is the CSS code just for the navbar */
/* For PC/landscape tablet: */
.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--navbarLightBlue);
    margin: 0;
    padding: 5px;
    position: sticky; /* From: https://www.geeksforgeeks.org/how-to-make-a-div-stick-to-the-top-of-the-screen/ */
    top: 0;
}

.navbar a {
    color: var(--UofTBlue);
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.navbar a:hover, #currentPage {
    background-color: var(--UofTBlue);
    color: var(--background);
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navbarLightBlue);
    z-index: 1;
    margin: auto;
}
  
.dropdown a, .dropdown-content a {
    color: var(--UofTBlue);
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin: auto;
}
  
.dropdown-content a:hover {
    background-color: var(--UofTBlue);
    color: var(--background);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* For phone */

.navbarMobile {
    display: none;
}


/* To switch between PC and phone based on the aspect ratio, since phones are vertical and PC are horizontal, and smallest screensize is 1080p nowadays */
@media (max-aspect-ratio: 1/1) or (max-width: 1080px) {
    .navbar {
        display: none;
    }

    .navbarMobile {
        display: grid;
        width: 100%;
        background-color: var(--navbarLightBlue);
        margin: 0;
        padding: 5px;
        position: sticky;
        top: 0;
        grid-template-columns: 60px auto;
        grid-template-rows: 60px auto;
    }
    
    .navbarMobileLeft {
        color: var(--UofTBlue);
        text-decoration: none;
        text-align: center;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .navbarMobileRight {
        color: var(--UofTBlue);
        text-decoration: none;
        text-align: center;
        grid-column-start: 2;
        grid-row-start: 1;
        font-size: 20px;
    }

    .navbarMobileMenu {
        display: none;
        width: 100%;
    }

    .navbarMobileMenu a {
        color: var(--UofTBlue);
        text-decoration: none;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        width: fit-content;
    }
    
    .navbarMobile:hover .navbarMobileMenu {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
    }
}

/* Below is the CSS code just for the Home page */

.line{
    border: 1.5px solid var(--UofTGreen);
    width: 98%;
    height: 0px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 2em;
    padding-top:20px;
    padding-bottom:20px; 
    align-items: center;
}

.contact .text {
    flex-grow: 1;
}

#image {
    text-align: center;
    flex-grow: 1;
}


/* Feedback CSS  */

.feedback_submission {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#feedback_text {
    width: 100%;
    padding: 20px;
    resize: vertical;
    box-sizing: border-box;
    color: lightgray;
    border-radius: 10px;
    border: 2px solid lightgray;
    box-shadow: 2px 2px 2px gray;
    font-size: 16px;
}

.feedback_btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 5px;
    font-weight: bold;
}

.feedback_submit {
    background-color: var(--UofTBlue);
    color: var(--background);
    border-radius: 5px;
    padding: 5px 15px; /* top/bottom left/right */
    margin: 10px;
}

.feedback_cancel {
    background-color: var(--background);
    color: var(--UofTBlue);
    border-radius: 5px;
    padding: 5px 15px; /* top/bottom left/right */
    margin: 10px;
}

/* Below is the CSS code just for the Assignments page */

.assignments-grid-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    margin-bottom: 30px;
    padding: 20px;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px 30px; /*row col*/
    border-color: var(--UofTBlue);
    border-radius: 1rem;
    border: 2px solid var(--UofTBlue);
}

/* Full-width line below the header row */
.header-line {
    grid-column: 1 / -1; /* Span across all 4 columns */
    height: 3px;
    background-color: var(--UofTGreen); 
    margin: -5px -15px; /*top and bottom margin for line postion*/
}

.assign-list-item{
    padding-right:50px;
}

.underline{
    text-decoration: underline;
}


.feedback_submit:hover, 
.feedback_cancel:hover {
    font-size: 16px;
}
